/*=============================================================================
 ** Variables 
 **==============================================================================

//Button text
$button_text_align: center
$button_vert_align: middle
$button_text_transform: uppercase
$button_letter_spacing: .1rem
$button_font_weight: 400
$button_padding: .4rem
$button_font_color: #fff

//button size values
$button_font_size: .85rem
$button_line_height: 1.375rem

$small_button_font_size: 0.625rem 
$small_button_line_height: 1.675rem

$large_button_font_size: 1.625rem
$large_button_line_height:1.625rem

$xlarge_button_font_size: 1.875rem
$xlarge_button_line_height: 1.875rem

//button colors & hover colors & border values ****Class value is first name after underscore*****
$button_default: #4aa3df
$button_default_hover: #3498db
$button_default_border: 1px solid #3085d6
$button_default_font_color: #333
$button_default_hover_font_color: #FFF
$button_default_background_color: #ccc

$button_blue_background_color: #4aa3df
$button_blue_hover: #3498db
$button_blue_border: 1px solid #3085d6

$button_green_background_color: #40d47e
$button_green_hover: #2ecc71
$button_green_border: 1px solid #5bde9b

$button_red_background_color: #e74c3c
$button_red_hover: #e43725 
$button_red_border: 1px solid #c6282a

$button_white_background_color: #bdc3c7
$button_white_hover: #fff
$button_white_border: 1px solid #bdc3c7 

$button_orange_background_color: #f5b823
$button_orange_hover:  #F5A623
$button_orange_border: 1px solid $button_orange_background_color


/*=============================================================================
 ** Button 
 **==============================================================================
.btn
  text-align: $button_text_align
  vertical-align: $button_vert_align
  border: 1px solid #e5e6e7
  font-weight: $button_font_weight
  font-size: $button_font_size
  padding: $button_padding
  line-height: $button_line_height
  letter-spacing: $button_letter_spacing
  text-transform: $button_text_transform
  text-decoration: none
  white-space: nowrap
  color: $button_font_color
    &.default
      color: $button_default_font_color
      &:hover
        background-color: $button_default_background_color
        color: $button_default_hover_font_color
    &.round
      +border-radius (.5)
    &.sm 
      font-size: $small_button_font_size
      line-height: $small_button_line_height
    &.lg
      font-size: $large_button_font_size
      line-height: $large_button_line_height
    &.xl
      font-size: $xlarge_button_font_size
      line-height: $xlarge_button_line_height
    &.blue 
      border: $button_blue_border
      background-color: $button_blue
      &:hover
        background: $button_blue_hover
        color: $button_blue_hover_font_color
    &.green
        background-color: $button_green_background_color
        border: $green_blue_border
        &:hover
          background: $button_green_hover
          color: $button_green_hover_font_color
    &.red
      border: $button_red_border
      background-color: $button_red_background_color
      &:hover
        background: $button_red_hover
        color: $button_red_hover_font_color
    &.orange
      border: $button_orange_border
      background-color: $button_orange_background_color
      &:hover
        background: $button_orange_hover
        color: $button_orange_hover_font_color
    &.transparent
      background-color: transparent

            
